* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Helvecita, sans-serif;
}

header {
  background-color: #00457A;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
}

.logo {
  max-width: 30%;
  width: 15%;
  height: auto;
  display: block;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.bodytext {
  display: flex;
  flex-direciton: row;
  margin: 15px;
  gap: 15px;
  background-color: white;
  color: white;
}

.one {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.two {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.three {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.four {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: reverse-column;
  gap: 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:link {
  color: white;
}

a:visited {
  color: #7F7F7F;
}  

