* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Helvecita, sans-serif;
}

.bodytext {
  display: flex;
  flex-direciton: row;
  margin: 15px;
  gap: 15px;
  background-color: white;
  color: white;
}

.one {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.two {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.three {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.four {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}
footer {
  display: flex;
  flex-direction: column

