* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Helvecita, sans-serif;
}

header {
  background-color: #00457A;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  top: 0px;
}

.logo img {
  max-width: 30%;
  width: 30%;
  height: auto;
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodytext {
  display: flex;
  flex-direciton: row;
  margin: 15px;
  gap: 15px;
  background-color: white;
  color: white;
}

.bodytext h3 {
  line-height: 1.1;
  font-weight: 700;
  font-size: 1.2em;
}

.bodytext p {
  font-weight: 300;
  font-size: 0.9em;
  padding: 20px 0px 0px 0px;
}

.one {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.two {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.three {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

.four {
  background-color: #00457A;
  margin: 15px;
  padding:25px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:link {
  color: white;
}

a:visited {
  color: #7F7F7F;
}  

