* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 20px;
  font-family: Helvecita, sans-serif;
}

header {
  background-color: #00457A;
  padding: 0.625em;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  top: 0px;
  z-index: 2;
}

.logo img {
  max-width: 30%;
  width: 30%;
  height: auto;
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 0.3125em;
  margin-right: 4em;
  padding: 0.3125em;
  gap: 0.3em;
  font-size: 1.3em;
  text-transform: uppercase;
}

.ind {
  font-weight: 999;
  font-size: 8vmin;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.tech {
  display: block;
  width: 100vw;
  height: auto;
  position: relative;
  margin: 0px;
}
  
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  text-transform: uppercase;
  color: #00457A;
  font-size: 4em;
  margin: 0px;
  font-weight: 999;
}

.title h2 {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0.5em 0px 0px 0px;
  font-weight: 700;
}

.title h3 {
  text-align: center;
  margin: 0px 9em 0px 9em;
  font-weight: 550;
}

.title p {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #7F7F7F;
  margin: 0.9375em 0px 0px 0px;
  padding: 0px;
}

.bodytext {
  display: flex;
  flex-direciton: row;
  margin: 0.9375em;
  gap: 0.9375em;
  background-color: white;
  color: white;
  line-height: 1.4;
}

.bodytext h3 {
  line-height: 1.1;
  font-weight: 700;
  font-size: 1.2em;
}

.bodytext p {
  font-weight: 300;
  font-size: 0.9em;
  padding: 1.25em 0px 0px 0px;
}

.one {
  background-color: #00457A;
  margin: 0.9375em;
  padding: 1.56em;
}

.two {
  background-color: #00457A;
  margin: 0.9375em;
  padding: 1.56em;
}

.three {
  background-color: #00457A;
  margin: 0.9375em;
  padding: 1.56em;
}

.four {
  background-color: #00457A;
  margin: 0.9375em;
  padding: 1.56em;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.25em;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link p {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 999;
}

.link a {
  font-size: 0.8em;
  margin: 0.4em 0px 0px 0px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7em;
}

.about h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:link {
  color: white;
}

a:visited {
  color: #7F7F7F;
}  

h1 {
  margin: 0.3em 0px;
}
